.grid_container{
   margin:0 5%;
   width:90%;
    padding:5% 0;
   background-color: rgba(0, 128, 0, 0);
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   justify-items: center;
   align-items: center;
   align-content: center;
   
}