


.bucket_container{
   width:17vw;
   height:17vw;
   margin:2px;
   border-radius: 200px;
   background-size: contain;
   border:0px solid rgb(150, 150, 150);

   border-radius: 50%;
   background: #dedede;
   box-shadow: inset 20px 20px 60px #bdbdbd, 
               inset -20px -20px 60px #ffffff;
   :first-child{
      border-radius:200px;
   }
   
}